doctype 5
html(lang="en")
  head
    title= server.name + ' - Plex Media Server - Videos'
    script(src='/public/js/jquery.js')
  body
    h1
      a(href='#{backTrace}/../..') Plex Media Servers
      >
      a(href='#{backTrace}') #{server.name}
      >
    each video,i in videos
      div
        a(href='#{backTrace}/../library/movies/#{video.ratingKey}/')
          img(src='#{video.thumbTranscodeUrl}&width=146&height=156')
          p #{video.title}