doctype 5
html(lang="en")
  head
    title= server.name + ' - Plex Media Server - Videos'
    script(src='/public/js/jquery.js')
    script(src='/public/js/jwplayer.js')
  body
    h1 #{video.title}
    a(href='hls/') Stream it
    div #{video.summary}
    div
      img(src='#{video.thumbTranscodeUrl}&width=300&height=400')
    div Writer #{video.Writer.tag}
    div Director #{video.Director.tag}
    div Cast
      each role in video.Role
        div #{role.tag} as #{role.role}
    div#videoPlayer No Flash or HTML5 video support it seems
    script
      jwplayer('videoPlayer').setup({
          modes: [ {
                   type: 'flash',
                   src:  '/public/swf/player.swf',
                   config: {
                     file: 'hls/index.m3u8',
                     provider:'/public/swf/adaptiveProvider.swf'
                     }
                   },
                   {
                   type:'html5',
                   config: {
                     file: 'hls/index.m3u8'
                     }
                   }
                ],
          autostart: true,
          width: '320',
          height: '240'
        });